<div class="widget-ilove">
	<a href="http://1degree.co" 
	    alt="1degree.co" 
	    title="Awesome freelance marketplace :)">
	  <div class="line1">I <span class="heart">&hearts;</span></div>
	  <div class="line2">1Degree</div>
	</a>
</div>