<script type="text/javascript">
(function() { 
	document.write('<div class="customCSSclass" id="1degree-widget">');
	document.write('<a href="#>"><%= 7-@spots %></a><br />')
	document.write('</div>') 

	})()
</script>