<div class="jumbotron center">

	<h1>Welcome to OneDegree</h1>
	<h3> <span class="content">A community where business professionals, entrepreneurs, and other awesome people will help you out. <em>Ask any question. Get advice. Free! Yes Really.</em> </span></h3>
		<p>
			<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
</div>