<h1>About us</h1>
<p> OneDegree helps you find people based on their interests, location, etc and talk to them!. <br></br>We believe that each one of us can help, teach or add value in different way to others in this world. And, you don't need to be connected to do so. If you have any feedback or comment please write to sandeep.prabhakara@gmail.com </p>