<h1>About us</h1>
<p> <h3>OneDegree is a community where business professionals, entrepreneurs, and other awesome people will help you out. Ask any question. Get advice. Free! Yes Really.

<br></br>
We believe that each one of us can help, teach or add value to others in many different ways. And, you don't need to be connected via any social network to do so. Sign up now if you have not done so already and start talking to any of our featured users. We just ask you to keep it civil and clean.

<br></br>
If you have any feedback or comment please write to 1degree.co@gmail.com. </h3>
<br></br>
<h4>Disclaimer: Please note that the responses from members on 1degree are their personal opinions only and all users should use personal judgement when following them. We are not responsible for how you choose to apply the suggestions </h4></p>