<% unless current_user?(@user) %>
  <div id="communicate_form">
  <% if current_user.communicating?(@user) %>
    <%= render 'uncommunicate' %>
  <% else %>
    <%= render 'communicate' %>
  <% end %>
  </div>
<% end %>