<li id="<%#= eavesdrop_recommend_item.id %>">
  <%#= link_to gravatar_for(feed_item.user), feed_item.user %>
  <%#= eavesdrop_item.id %>
  <%# @pins = Pin.where("initiator_id = (?) AND responder_id = (?)", eavesdrop_item.initiator_id, eavesdrop_item.responder_id) %>
  <% @pins = current_user.eaveslist_recommend() %>
  <%#= @pins.count %>
 	<% @pins.each do |pin| %>
 	  <span class="content">
	    <%= link_to pin.description, pin %>
  	</span>
    <span class="timestamp">
      Updated <%= time_ago_in_words(pin.updated_at) %> ago.
    </span>
    <!--
	  <span class="timestamp">
	    Updated <%= time_ago_in_words(pin.updated_at) %> ago.
	  </span>
    -->
	<% end %>
</li>

  <%#= link_to eavesdrop_item.user.name, conversation_item.user %>