<% if @feed_items.any? %>

	<aside>
		<section>
    <% if false %> <h1>Your Conversations (<%= @user.microposts.count %>)</h1> <% end %>
    <h1>Your Conversations...</h1> 
    </section>
  </aside>
  <ol class="microposts">
    <%= render partial: 'feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
<% end %>