<%#= form_for(@micropost) do |f| %>

<%= form_for(current_user.microposts.build(user_id: @user.id)) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div><%= f.hidden_field :user_id %></div>
  <div class="field">
  	<div class="span4">
    	<%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>