<h1>
<div class="user">
  <% @users.each do |user| %>
    <%#= can add a link_to here to take it to the user's profile. Need to figure out how to get a user's profile with devise %>

    <%#= user.name %>
    <h3><%= link_to user.name, user %> </br></h3>
  <% end %>
</div>
</h1>