<%#= link_to gravatar_for(current_user, size: 52), current_user %>
<div class="gravatar">
	<%= image_tag @user.image.url(:thumb) %>	
</div>
<h1>
  <%= link_to current_user.name, current_user %>
</h1>


<% if false %>
	<span>
	  <%#= link_to "view my profile", current_user %></br>
	</span>

<% end %>

	<span>
	  <%= pluralize(current_user.microposts.count, "Message") %>
	</span>
