// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import 'bootstrap';
/* microposts */

$grayLight: #999;
$grayLighter: #eee;
$blue: blue;

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.right-gravatar {
  float: right;
  margin-left: 10px;
  width: 225px;
}

aside {
  textarea {
    //height: 150px;
    //width: 225px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: $grayLighter;
  }
}

.normal-text-field{
  height: 25px;
  width: 100%;
}

.medium-text-field{
  height: 50px;
  width: 100%;
}

.big-text-field{
  height: 150px;
}

.field {
  //height: 75px;
  //width: 50px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLight;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    //border-top: 1px solid $grayLight;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/*
.good-border {
  border: 1px solid $grayLight;
  //border-radius: 5px;
  padding-top: 5px;
}

.gray-background {
  background: $grayLighter;
}

div.good-border {
  .border-radius( 5px );
  //border-radius: 15px;
}
*/
