<!-- <p>Welcome <%= @email %>!</p> -->
<p>Welcome to OneDegree! We are delighted that you have joined our community. OneDegree is a community where business professionals, entrepreneurs, and other awesome people will help you out. Ask any question. Get advice. Free! Yes Really. 
</p>
<p></p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm your account by clicking here', confirmation_url(@resource, :confirmation_token => @token) %></p>
